<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.embed.candy"
	android:installLocation="auto"
	android:versionCode="1"
	android:versionName="1.0.0" >
	<supports-screens
		android:anyDensity="true"
		android:largeScreens="true"
		android:normalScreens="true"
		android:resizeable="true"
		android:smallScreens="true" />
	<uses-sdk
		android:minSdkVersion="8"
		android:targetSdkVersion="8" />
	<uses-feature
		android:name="android.hardware.touchscreen"
		android:required="true" />
	<uses-feature
		android:name="android.hardware.touchscreen.multitouch"
		android:required="false" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<application
		android:hardwareAccelerated="false"
		android:icon="@drawable/icon"
		android:label="@string/app_name" >
		<activity
			android:name=".SplashScreenActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".MainMenuActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:theme="@style/Theme.NoBackground" />
		<activity
			android:name="com.embed.candy.CandyLevelActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:theme="@style/Theme.NoBackground" />
		<activity
			android:name="com.embed.candy.WorldSelectActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:theme="@style/Theme.NoBackground" />
		<activity
			android:name="com.embed.candy.LevelSelectActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:theme="@style/Theme.NoBackground" />
		<activity
			android:name="com.embed.candy.CandyPreferenceActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
		<activity
			android:name="com.embed.candy.StatisticsActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:theme="@style/Theme.NoBackground" />
		<activity
			android:name="com.embed.candy.AfterLevelActivity"
			android:configChanges="keyboard|keyboardHidden|orientation"
			android:label="@string/app_name"
			android:screenOrientation="landscape"
			android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity
			android:name="com.swarmconnect.SwarmMainActivity"
			android:configChanges="orientation|keyboardHidden|keyboard"
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:windowSoftInputMode="stateHidden" />
		<service
			android:name="com.swarmconnect.NotificationService"
			android:process=":swarm" />
		<receiver android:name="com.swarmconnect.SwarmIOBroadcastReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>
	</application>
</manifest>