# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# java specific
*.class

# eclipse stuff
*/.classpath
*/.project
proguard/

# android stuff
*/R.java

# any bin stuff
*.apk
*.ap_
*.dex
*/bin

# Mercurial
.hg/