# generic files to ignore
*~
*.lock
*.swp
*.out
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# java specific
*.class

# eclipse stuff
*/.classpath
*/.project
proguard/

# android stuff
R.java

# any bin stuff
*.apk
*.ap_
*.dex
bin/
gen/

# Mercurial
.hg/