<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.scoreloop.client.android.core.demo.typical"
	android:versionCode="1" android:versionName="1.0">

	<!-- Permission configuration required by Scoreloop -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />

	<!-- Permissions for Fortumo SMS billing  -->
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.SEND_SMS"/>
	<uses-permission android:name="android.permission.RECEIVE_SMS"/>
	
	<!-- Permissions for Android Market In-App billing -->
	<uses-permission android:name="com.android.vending.BILLING"/>
	
	<uses-sdk android:targetSdkVersion="11" android:minSdkVersion="4" />


	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:name=".TypicalApplication" android:theme="@android:style/Theme.Light">


		<activity android:label="@string/app_name" android:name=".MainActivity" android:configChanges="keyboardHidden|keyboard|orientation"
			android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- for convenience we'll disable orientation changes, that saves us from 
			a lot of hassle dealing with dialoges. -->
		<activity android:name=".LeaderboardActivity"
			android:configChanges="keyboardHidden|keyboard|orientation"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".ProfileActivity"
			android:configChanges="keyboardHidden|keyboard|orientation"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".GamePlayActivity"
			android:configChanges="keyboardHidden|keyboard|orientation"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".FriendsActivity"
			android:configChanges="keyboardHidden|keyboard|orientation"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".ChallengesActivity"
			android:configChanges="keyboardHidden|keyboard|orientation"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".UserActivity" android:configChanges="keyboardHidden|keyboard|orientation"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".AchievementsActivity"
			android:configChanges="keyboardHidden|keyboard|orientation"
			android:screenOrientation="portrait"></activity>
		<activity android:name=".BuyCoinsActivity"
			android:configChanges="keyboardHidden|keyboard|orientation"
			android:screenOrientation="portrait"></activity>

		<activity android:name="com.scoreloop.client.android.core.ui.ProxyActivity"
			android:configChanges="orientation|keyboard|keyboardHidden" />

		<!--  Payment Providers. -->
		<activity android:name="com.paypal.android.MEP.PayPalActivity" 
			android:theme="@android:style/Theme.Translucent.NoTitleBar" 
			android:configChanges="keyboardHidden|orientation"/>
					
		<activity android:name="com.fortumo.android.FortumoActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
		
		<service android:name="com.scoreloop.client.android.core.paymentprovider.googlemarket.BillingService" />
        <receiver android:name="com.scoreloop.client.android.core.paymentprovider.googlemarket.BillingReceiver">
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>
	</application>
</manifest>