<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.scoreloop.client.android.ui"
	android:versionCode="1"
	android:versionName="1.0">

	<uses-sdk android:minSdkVersion="4" />
	<application>

		<activity android:name="com.scoreloop.client.android.ui.EntryScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity android:name="com.scoreloop.client.android.ui.PostScoreOverlayActivity" android:theme="@style/sl_dialog"/>
		<activity android:name="com.scoreloop.client.android.ui.ShowResultOverlayActivity" android:theme="@style/sl_dialog"/>
		<activity android:name="com.scoreloop.client.android.ui.BuddiesScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity android:name="com.scoreloop.client.android.ui.LeaderboardsScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity android:name="com.scoreloop.client.android.ui.ChallengesScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity android:name="com.scoreloop.client.android.ui.AchievementsScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity android:name="com.scoreloop.client.android.ui.SocialMarketScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity android:name="com.scoreloop.client.android.ui.ProfileScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity android:name="com.scoreloop.client.android.ui.GameItemPaymentScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>

		<activity android:name="com.scoreloop.client.android.ui.component.market.MarketHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.market.MarketListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.entry.EntryListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.post.PostOverlayActivity" android:theme="@style/sl_dialog"/>
		<activity android:name="com.scoreloop.client.android.ui.component.score.ScoreHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.score.ScoreListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.user.UserAddBuddyListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.user.UserHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.user.UserDetailListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.user.UserListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.game.GameDetailHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.game.GameDetailListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.game.GameListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.achievement.AchievementHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.achievement.AchievementListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.news.NewsHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.news.NewsListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.challenge.ChallengeHeaderActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.challenge.ChallengeListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.challenge.ChallengeAcceptListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.challenge.ChallengeCreateListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.profile.ProfileSettingsListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.profile.ProfileSettingsPictureListActivity"/>
		<activity android:name="com.scoreloop.client.android.ui.component.payment.PaymentMethodListActivity" android:configChanges="orientation|keyboard|keyboardHidden"/>
		<activity android:name="com.scoreloop.client.android.ui.component.payment.GameItemHeaderActivity"/>

		<activity android:name="com.scoreloop.client.android.ui.framework.ScreenActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
		<activity android:name="com.scoreloop.client.android.ui.framework.TabsActivity"/>
		
		<activity android:name="com.scoreloop.client.android.core.paymentprovider.ProxyActivity" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" android:configChanges="orientation|keyboard|keyboardHidden"/>
		
		<activity android:name="com.boku.mobile.android.PaymentPanelActivity" 
			android:label="Paymo Panel" 
			android:configChanges="keyboard|keyboardHidden|navigation|orientation"	
			android:theme="@style/BokuModal"/>
		         
		<activity android:name="com.paypal.android.MEP.PayPalActivity" 
			android:theme="@android:style/Theme.Translucent.NoTitleBar" 
			android:configChanges="keyboardHidden|orientation"/>
			
		<activity android:name="com.zong.android.engine.web.ZongWebView" 
			android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
			android:screenOrientation="portrait">
			<intent-filter> <action android:name="com.zong.mobile.PAYMENT" /> <category android:name="android.intent.category.DEFAULT" />
			</intent-filter> 
		</activity>
		<provider android:name="com.zong.android.engine.provider.ZongPersistanceProvider" android:authorities="com.zong.provider.persistence"/>

	</application>

</manifest> 
